In [39]:
import sqlite3
def connect():
    conn = sqlite3.connect("data_b.db")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS books (id INTEGER PRIMARY KEY, title text, author text, year integer, isbn integer)")
    conn.commit()
    conn.close()
    
def insert(title, author, year, isbn):
    conn = sqlite3.connect("data_b.db")
    cur = conn.cursor()
    cur.execute("INSERT INTO books VALUES(NULL, ?,?,?,?)",(title, author, year, isbn))
    conn.commit()
    conn.close()
    
def view():
    conn = sqlite3.connect("data_b.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM books")
    rows = cur.fetchall()
    conn.close()
    return rows

def search(title='', author='', year='', isbn=''):
    conn = sqlite3.connect("data_b.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM books WHERE title=? OR author=? OR year=? OR isbn=?", (title, author, year, isbn))
    rows = cur.fetchall()
    conn.close()
    return rows

def delete(id):
    conn = sqlite3.connect("data_b.db")
    cur = conn.cursor()
    cur.execute("DELETE FROM books WHERE id=?",(id,))
    conn.commit()
    conn.close()

def update(id, title, author, year, isbn):
    conn = sqlite3.connect("data_b.db")
    cur = conn.cursor()
    cur.execute("UPDATE books SET title=?, author=?, year=?, isbn=? WHERE id=?",(title, author, year, isbn, id))
    conn.commit()
    conn.close()

connect()
update(3, "Jane", "Janilla", 1987, 4095)
#insert("koop", "tiurs", 2009, 4505)

print(view())

[(1, 'manu', 'Dest', 1919, 2345), (2, 'Jane', 'Janilla', 1987, 4095), (3, 'Jane', 'Janilla', 1987, 4095), (4, 'manu', 'Dest', 1919, 2345), (6, 'manu', 'Dest', 1919, 2345), (7, 'set', 'ret', 1900, 1005), (8, 'koop', 'tiurs', 2009, 4505), (9, 'koop', 'tiurs', 2009, 4505), (10, 'koop', 'tiurs', 2009, 4505), (11, 'koop', 'tiurs', 2009, 4505), (12, 'koop', 'tiurs', 2009, 4505), (13, 'koop', 'tiurs', 2009, 4505), (14, 'koop', 'tiurs', 2009, 4505), (15, 'koop', 'tiurs', 2009, 4505), (16, 'koop', 'tiurs', 2009, 4505), (17, 'koop', 'tiurs', 2009, 4505)]