In [4]:
import sqlite3

In [24]:
def create_table():
    capp = sqlite3.connect("Five.db")
    Four = capp.cursor()
    Four.execute("CREATE TABLE IF NOT EXISTS SAP(Item TEXT, Qty INTEGER, Price REAL)")
    capp.commit()
    capp.close()

In [25]:
def insert(Item, Qty, Price):
    capp = sqlite3.connect("Five.db")
    Four = capp.cursor()
    Four.execute("INSERT INTO SIP VALUES(?,?,?)", (Item, Qty, Price))
    capp.commit()
    capp.close()

In [26]:
insert("T-shirt", 34, 566.30)

OperationalError: table SIP has 1 columns but 3 values were supplied